<br>
<h2><%= current_user.name %>のタスク一覧</h2>
<br>

<%= form_with url: tasks_path, method: :get, local: true do |form| %>
  <%= form.text_field :title ,placeholder:"タイトル検索"%>
  <%= form.select :status, [["未着手", "未着手"],["着手中","着手中"],["完了","完了"]], prompt: "ステータス選択"%>
  <%= form.hidden_field :search, value: 'true' %>
  <%= form.label :lebel %>   
  <%= form.collection_check_boxes(:label_ids, Label.all, :id, :title) %>
  <%= form.submit '検索', name: nil %>
<% end %>
<br>
<table class="table table-bordered">
<thead>
  <tr class="active">
    <th>ラベル</th>
    <th>タイトル</th>
    <th>内容</th>
    <th>作成日</th>
    <th>終了期限</th>
    <th>ステータス</th>
    <th>優先順位</th>
    <th>投稿者</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  
</thead>
<tbody>
<% @tasks.each do |task| %>
  <tr>
    <td><% task.task_labels.each do |task_label| %>
        <%= task_label.label.title %><br>
    <% end %></td>
    <td><%= task.title %></td>
    <td><%= task.content %></td>
    <td><%= task.created_at %></td>
    <td><%= task.end_date %></td>
    <td><%= task.status %></td>
    <td><%= task.priority %></td>
    <td><%= task.user.name %></td>
    <td><%= link_to '詳細', task_path(task.id) %></td>
    <td><%= link_to '編集', edit_task_path(task.id), data: { confirm: '本当に編集していいですか？' } %></td>
    <td><%= link_to '削除', task_path(task.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
<% end %>
</tbody>
</table>
<%= paginate @tasks %>
<br>
<%= link_to 'タスク作成', new_task_path, class:"btn btn-primary"%>
<%= link_to "終了期限でソートする", tasks_path(sort_expired: :true), class: "btn btn-warning"%> 
<%= link_to "優先順位でソートする", tasks_path(sort_priority: :true), class: "btn btn-warning"%>
<%= link_to '一覧画面へ', tasks_path ,class: "btn btn-info"%>
