<br>
<h2>詳細画面</h2>
<br>
<table class="table table-bordered">
<thead>
  <tr class="active">
    <th>ラベル</th>
    <th>タイトル</th>
    <th>内容</th>
    <th>作成日</th>
    <th>終了期限</th>
    <th>ステータス</th>
    <th>優先順位</th>
    <th>投稿者</th>
  </tr>
</thead>
 <tbody>
  <tr>
    <td><% @task.task_labels.each do |task_label| %>
    <%= task_label.label.title %><br>
    <% end %></td>
    <td><%= @task.title %></td>
    <td><%= @task.content %></td>
    <td><%= @task.created_at %></td>
    <td><%= @task.end_date %></td>
    <td><%= @task.status %></td>
    <td><%= @task.priority %></td>
    <td><%= @task.user.name %></td>
  </tr>
</tbody>
</table>
<%= link_to 'タスク一覧画面に戻る', tasks_path ,class: "btn btn-info"%>